<!-- product-list.component.html -->
<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <button
            class="btn btn-danger"
            (click)="deleteProduct(product.productId)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
